@use './../../styles/global' as *;
@use './../../styles/mixins' as *;

.block8 {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
  padding-inline: 40px;

  @include on-tablet {
    width: 100%;
    row-gap: 40px;
    padding-inline: 5.25vw;
  }
  
  @include on-mobile {
    padding-inline: 20px;
    row-gap: 30px;
    
  }
}

.prices {
  display: flex;
  flex-direction: row;
  gap: 40px;

  @include on-mobile {
    flex-direction: column;
    gap: 25px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  padding: 40px;
  background-color: var(--color-burgundy);

  @include on-tablet {
    width: 100%;
    gap: 20px;
  }

  &_text_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 175px;

    @include on-tablet {
      gap: 10px;
    }
  }

  &_text,
  &_value {
    @extend %body-text;
    color: white;
    line-height: 26px;

    @include on-mobile {
      text-align: center;
    }
  }

  &_title {
    @extend %uppercase;
    font-family: var(--font-paragraph-medium);
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.001em;

    @include on-tablet {
      font-size: 20px;
      line-height: 25px;
    }

    @include on-mobile {
      text-align: center;
    }
  }

  &_value {
    font-family: var(--font-paragraph-medium);
    font-size: 20px;
    margin-bottom: 10px;

    @include on-tablet {
      font-size: 18px;
    }
  }

  button {
    border: none;
    width: 100%;
    height: 70px;
    background-color: white;

    @extend %buttons-text;
    color: black;

    @include on-tablet {
      height: 60px;
    }

    &:hover {
      background-color: var(--color-white-translucent);
    }
  }
}

.inform {
  @extend %body-text;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: -35px;
  align-self: flex-start;

  span {
    color: var(--color-burgundy);
  }
}
